<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Frameworks">
  <test name="HybridReport">
    <classes>
      <class name="constant.AppUtil"/>
      <class name="driverFactory.DriverScript"/>
    </classes>
  </test> <!-- HybridReport -->
</suite> <!-- Frameworks -->
